# Created by .ignore support plugin (hsz.mobi)
#


# IntelliJ project files
.idea
*.iml
out
gen
gradle-cache/
log-data
nodes70*.conf
dump.rdb
appendonly.aof
70*.log
*.log.*
*.pid
# Gradle
######################
.gradle/
/build/
**/build/
#Docker
docker/prod/share

/target/